<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>

		{% if link.sublinks %}
			{% for sublink in link.sublinks %}
				{% assign class = "" %}
				{% if link.highlight %}
					{% assign class = class | append: " highlight" %}
				{% endif %}
		
				{% if link.link == page.url %}
					{% assign class = class | append: " active" %}
				{% endif %}
				<a href="{% include relative-src.html src=sublink.link %}" class="dropdown {{ class }}" {% if sublink.new_window %}target="_blank"{% endif %}>{{ sublink.name }}</a>
			{% endfor %}
		{% endif %}
	{% endfor %}
</nav>
