<!DOCTYPE html>

<html lang="en">

	{% include head.html %}

	<body>
		<header id="mainHeader">
			<div class="container">
				<div class="company-name">
					<a href="/">
						<span class="dark-logo"><img width="104" height="38" src="/images/logo/dark.svg" alt="dark logo"></span>
						<span class="light-logo"><img width="104" height="38" src="/images/logo/light.svg" alt="light logo"></span>
					</a>
				</div>
			</div>
		</header>

		{{ content }}

		<footer>
			<div class="container">
				<ul class="footer-right-links">
					{% for link in site.data.footer.right_links %}
						<li>
							<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
								{% if link.social_icon %}{% include social-icon.html icon=link.social_icon %}{% endif %}
								{{ link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
				
				<p class="copyright">
					<a href="https://mipha.ca/">
						MIPHA ENTERPRISES LTD. 2023
					</a>
				</p>
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
